body {
  scroll-behavior: smooth;
}

.First-login {
  background-color: var(--mainColorRed);
  height: 100vh;
}

#header_admin_logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 45px 35px 0px;
  margin-bottom: 120px;
}

.logo-content {
  display: flex;
  flex-direction: column;
}

.logo-content h2 {
  font-family: var(--fontMons);
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #ffff;
}

.logo-content .logo-line {
  width: 202.76px;
  border: 1px solid #ffffff96;
  margin: 6px 0 4px;
}

.logo-content .logo-title {
  font-family: var(--fontMons);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  color: #ffff;
}

#Login {
  background: var(--mainColorRed);
  padding:0px 25px 140px;
}

#Login .login-container {
  max-width: 662px;
  width: 100%;
  background-color: #ffff;
  padding: 20px 54px 34px;
  margin: 0px auto;
}

#Login .login-container .form p {
  font-family: var(--fontMons);
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  padding: 26px;
  color: #000000;
}

#Login .login-container .form {
  display: flex;
  flex-direction: column;
}

#Login .login-container .form input {
  font-family: var(--fontMons);
  height: 74.54px;
  margin-bottom: 34px;
  border: 1px solid #cecece;
  font-size: 20px;
  padding-left: 54px;
}

#Login .login-container .form input::placeholder {
  font-family: var(--fontMons);
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
}

#Login .login-container .form button {
  border: 1px solid #cecece;
  background-color: #e16a00;
  padding: 22px 0;
  font-family: var(--fontMons);
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

/* Second Panel */

#Second-panel {
  display: flex;
  /* position: relative; */
}

#second_admin_logo {
  /* display: flex;
  align-items: center;
  gap: 8px; */
  padding: 106px 35px 26px;
}

#closeBtn {
  display: none;
}

#Second-panel .left {
  max-width: 355px;
  width: 100%;
  height: 100%;
  background-color: var(--mainColorRed);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
}

#Second-panel .left aside div {
  display: flex;
  gap: 8px;
  z-index: 3;
}

#Second-panel .right {
  padding-left: 355px;
  flex-basis: 100%;
  background-color: var(--mainBodyColor);
}

#Second-panel .left aside .list {
  padding: 20px 0 0 41px;
}

#Second-panel .left aside .list ul li {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 34px;
}

#Second-panel .left aside .list ul li img {
  width: 32.41px;
}

#Second-panel .left aside .list ul li a {
  font-family: var(--fontMons);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: #ffff;
  position: relative;
}

#Second-panel .left aside .list ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  left: 0;
  height: 4px;
  background-color: #ffff;
}

#Second-panel .left aside .list ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: #e16a00;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

#Second-panel .left aside .list ul li a:hover::after {
  transform: scaleX(1);
}

/* Second panel Right side */

#Second-panel .right .mobile-container {
  width: 100%;
  display: none;
  padding: 16px 29px 40px 13px;
}

#Second-panel .right .mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Second-panel .right .account-logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 60px 58px;
  cursor: pointer;
}

#Second-panel .right .profile-admin {
  display: flex;
  align-items: center;
  gap: 8.26px;

}

.admin-container {
  padding: 48px 108px 0 33px;
}

.admin-container h1 {
  font-family: var(--fontMons);
  font-size: 30px;
  font-weight: 600;
  color: var(--textcolor);
}

.admin-container .search-book p {
  font-family: var(--montserrat);
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin: 26px 0 6px;
}

.admin-container .search-bar {
  display: flex;
  align-items: center;
  gap: 7px;
}

.admin-container .search-bar input {
  max-width: 395px;
  width: 100%;
  height: 41px;
  border: 2px solid #391f007a;
  border-radius: 34px;
  padding-left: 33px;
}

.admin-container .search-bar input::placeholder {
  padding: 9px 0 10px;
  font-family: Preah Vihear;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #adadad;
}

.admin-container .search-bar button {
  padding: 12px 24px;
  border-radius: 34px;
  height: 40px;
  background-color: var(--mainColorOrange);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-container .search-history {
  max-width: 388px;
  height: 185px;
  width: 100%;
  overflow-y: auto;
  border-radius: 35px;
  padding: 20px 36px;
  margin-top: 6px;
  background-color: #f1f0f0;
  &&::-webkit-scrollbar {
    width: 3px;
  }
}

.admin-container .search-history div {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 13px;
}
.admin_mobil_header {
  margin-bottom: 36px;
  display: none;
  justify-content: space-between;
}

.admin_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: -100%;
}

.admin_overlay.show {
  transition: 0.7s;
  top: 0;
  left: 0;
  background: rgba(36, 20, 0, 0.7);
}

.admin_overlay_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin_close_icon {
  width: 25px;
  height: 25px;
}

.admin_overlay_body {
  padding: 15px 9px 0px 11px;
  width: 70%;
  background: #720418;
  height: 100%;
}

.admin_overlay_main {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.admin_overlay_item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.admin_overlay_item a {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}

.admin_book_overlay {
  display: none;
}

.admin_book_overlay.show {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.admin_book_overlay_main {
  width: 46.88%;
  background: #fff;
  padding: 70px 55.6px 35px 55.6px;
  border-radius: 9px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.alert {
  z-index: 5;
  position: fixed;
  top: -100%;
  right: 5%;
  transition: all .4s;
  font-weight: 600;
}
.alertActive {
  top: 5%;
}

.add_book {
  width: 100%;
  border-radius: 10px;
  padding: 12px 24px;
  background: #ff8b00;
  border: 0;
  margin-top: 50px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.admin_check_item {
  display: flex;
  align-items: center;
  flex-direction: row !important;
}

.admin_check_input {
  width: 15px !important;
}
.admin_form_dropdown {
  position: relative;
  margin-bottom: 0px !important;
}

.admin_dropdown_item_main {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #e2e6ee;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
  padding: 8px;
  transition: 0.3s;
  max-height: 100px;
  overflow-y: scroll;
}

.admin_dropdown_item_main.active {
  top: 40px;
  z-index: 2;
}

.admin_dropdown_item {
  font-size: 16px;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 8px;
  &&:hover {
    background-color: rgba(158, 168, 189, 0.31);
  }
}

.admin_dropdown_active_item {
  height: 40px;
  cursor: pointer;
  padding: 8px 12px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e2e6ee;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.admin_dropdown_item_main.active + &&::after {
  content: "b" !important;
}

.add_book_type {
  color: rgb(0, 255, 0);
  background: none;
  border: 0;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.admin_form_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0px !important;
}

.admin_form_label {
  font-family: var(--fontRoboto);

  color: #030102;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
}

.admin_form_input {
  height: 40px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #e2e6ee;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);

  /* daxilindeki textin stayli */
  color: #030102;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.admin_form_input::placeholder {
  color: #030102;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.admin-container .search-history p {
  font-family: Preah Vihear;
  font-size: 14px;
  font-weight: 400;
  color: #bcbcbc;
  margin: 0;
  &&:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(120, 117, 117);
  }
}

.admin-container .book-form {
  padding-top: 81px;
}
.admin-container .book-form h3 {
  font-family: var(--fontMons);
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 18px;
}

.admin-container .book-form-container {
  width: 100%;
  padding: 16px 30px 30px;
  border-radius: 20px;
  background-color: #ffff;
}

.admin-container .book-form-container div {
  margin-bottom: 8px;
}

.admin-container .book-form-container div p {
  font-family: var(--fontRoboto);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #030102;
  margin-bottom: 10px;
}

.admin-container .book-form-container div input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #e2e6ee;
  box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.admin-container .book-form-container div #bookAddBtn {
  width: 100%;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: var(--mainColorOrange);
  font-family: var(--fontRoboto);
  font-size: 14px;
  font-weight: 400;
  color: #ffff;
}

.admin-container .about-store {
  padding-top: 161px;
}

.admin-container .about-store h4 {
  font-family: var(--fontMons);
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 18px;
}

.admin-container .about-store-container {
  width: 100%;
  padding: 16px 30px 30px;
  border-radius: 20px;
  background-color: #ffff;
}

.admin-container .about-store-container div {
  margin-bottom: 24px;
}

.admin-container .about-store-container div p {
  font-family: var(--fontRoboto);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #030102;
  margin-bottom: 10px;
}

.admin-container .about-store-container div input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #e2e6ee;
  box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.del {
  border: none;
  background: transparent;
  color: #720418;
  cursor: pointer;
}

.admin-container .about-store-container div button {
  width: 100%;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: var(--mainColorOrange);
  font-family: var(--fontRoboto);
  font-size: 14px;
  font-weight: 400;
  color: #ffff;
}

/* Table 1 */
p {
  margin-bottom: 0px !important;
}
#Second-panel .join-us {
  padding: 136px 0 136px 70px;
}

#Second-panel .join-us h5 {
  font-family: var(--fontMons);
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 18px;
}

.join-us-table table {
  max-width: 512px;
  width: 100%;
  height: 258px;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: center;
  white-space: nowrap;
  
}
.join-us-table tbody {
  width: 100%; 
}


tr{
  height: 48px !important;
}

.join-us-table table,
td,
th {
  height: 48px !important;

  white-space: nowrap;
  font-family: Nunito Sans;
  vertical-align: middle;
  box-shadow: 0px -1px 0px 0px #e6e7e9 inset;
}

#Second-panel .join-us-table table tr td,
th {
  min-width: 54px;
}
td{
  overflow-x: scroll;
  max-width: 199px;
}

#Second-panel .join-us-table table th {
  background-color: #720418;
  color: #ffff;
}

#Second-panel .join-us-table table tr {
  border-bottom: #e6e7e9;
}
#Second-panel .join-us-table table tr:nth-of-type(even) {
  background-color: #ffff;
}
#Second-panel .join-us-table table tr:nth-of-type(odd) {
  background-color: #f9fafc;
}

/* Table 2 */

#Second-panel .books-content {
  padding: 0 70px 298px;
}

#Second-panel .books-content h6 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 18px;
}

#Second-panel .books-table table {
  max-width: 1086px;
  width: 100%;
  text-align: center;
  height: 48px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: center;
}

#Second-panel .books-table table th {
  background-color: #720418;
  color: #ffff;
  height: 48px;
}

#Second-panel .books-table th {
  min-width: 30px;
}
::-webkit-scrollbar {
  display: none;
}
.customTd {
  
 max-width: 199px;
}
.descriptionBody {
  width: 100%;
  display: flex;
  justify-content: center;
}
.descItem {
  text-align: center;
  overflow-x: scroll;
  max-width: 199px;
  width: 100%;
  height: 20px;
}
.admin_book_img {
  max-height: 36px;
}
/* Table 3 */

#Second-panel .Contact-Us {
  padding: 0 86px 438px 70px;
}

#Second-panel .Contact-Us p {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 18px;
}

#Second-panel .table-content table {
  max-width: 1086px;
  width: 100%;
  text-align: center;
  /* height: 240px; */
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: center;
  overflow: auto;
}

#Second-panel .table-content table th {
  background-color: #720418;
  color: #ffff;
  height: 48px;
}

#Second-panel .table-content table tr:nth-of-type(even) {
  background-color: #ffff;
}
#Second-panel .table-content table tr:nth-of-type(odd) {
  background-color: #f9fafc;
}

#left-first {
  display: none;
  z-index: 3;
}

/* Responsive Design */

@media only screen and (max-width: 600px) {
  #header_admin_logo {
    padding: 17px 0 100.42px 12px;
  }

  #header_admin_logo img {
    width: 151.22px;
  }

  #Login .login-container {
    max-width: 380px;
    width: 100%;
    padding: 27px 18.55px 50.26px;
  }

  #Login .login-container .form p {
    font-size: 20px;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
    margin: 0 auto 26px;
  }
  #Login .login-container .form input {
    height: 40.84px;
    margin-bottom: 21.99px;
    padding-left: 12px;
    font-size: 16px;
  }

  #Login .login-container .form input::placeholder {
    padding-left: 11.49px;
    font-size: 16px;
  }

  #Login .login-container .form button {
    height: 30.63px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #Second-panel .left,
  #Second-panel .right .account-logo {
    display: none;
    z-index: 2;
  }

  #Second-panel .right .mobile-container {
    display: block;
  }

  /* #Second-panel .Contact-Us table {
    overflow-x: auto;
  } */

  #Second-panel .right {
    padding: 0px 7px;
  }

  .admin-container {
    padding-left: 0;
    padding-right: 0;
  }

  .admin-container h1 {
    padding-top: 0;
  }

  .admin-container .search-container {
    width: 100%;
  }

  .admin-container .book-form {
    width: 100%;
    padding-top: 47px;
  }

  .admin-container .about-store {
    width: 100%;
    padding-top: 149px;
  }

  #Second-panel .join-us {
    width: 100%;
    padding: 117px 0 190px;
  }


  #Second-panel .books-content {
    width: 100%;
    padding: 0 0 190px;
  }

  #Second-panel .Contact-Us {
    width: 100%;
    padding: 0 0 289px;
  }

  .admin-container .book-form-container,
  .admin-container .about-store-container {
    width: 100%;
  }

  /* Mobile Aside */

  .left #second_admin_logo {
    padding: 15px 7px 72px 12px;
  }

  .left #second_admin_logo img {
    width: 177px;
  }

  #Second-panel .left aside .list {
    padding-left: 26px;
  }
  #Second-panel .left aside .list ul {
    padding-left: 0px;
  }

  #second_admin_logo {
    display: flex;
    justify-content: space-between;
  }
  #second_admin_logo img {
    cursor: pointer;
  }

  #closeBtn {
    display: block;
  }

  .join-us-table {
    overflow-x: scroll;
  }
}

/* Hamburger */

/* @media only screen and (max-width: 1440px) {
  #Second-panel .left {
    display: block!;
  }
} */
