@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&family=Roboto:ital,wght@0,100;0,400;0,700;1,500&display=swap");

:root {
  --mainColorDarkRed: #391f00;
  --mainColorRed: #720418;
  --mainColorOrange: #e16a00;
  --mainColorPurple: #9b51e0;
  --mainColorText: #241400;
  --mainBorderColor: #e6e7e9c2;
  --mainBodyColor: #fffaf5;
  --fontRoboto: "Roboto", sans-serif;
  --fontMons: "Montserrat", sans-serif;
}
