
.navbar {
  display: flex;
  justify-content: space-around;
}

.logo_div {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 12%;
}

.logo_title {
  width: 100%;
}

.logo_title h1 {
  color: var(--, #720418);
  font-family: var(--fontMons);
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0px;
}

.logo_title hr {
  border: 1px solid #e6e7e9c2;
  margin: 0px;
  width: 100%;
}

.logo_title p {
  color: var(--, #241400);
  font-family: var(--fontMons);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}

.list_div {

}

.nav_items{}

